name: CD
on:
  push:
    branches: [main]

permissions: write-all

concurrency:
  group: Release
  cancel-in-progress: true

jobs:
  CD:
    runs-on: ubuntu-latest
    environment: Release
    name: CD
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/lint
        with:
          appId: ${{ secrets.RELEASER_APP_ID }}
          privateKey: ${{ secrets.RELEASER_PRIVATE_KEY }}
          clientId: ${{ secrets.RELEASER_CLIENT_ID }}
          clientSecret: ${{ secrets.RELEASER_CLIENT_SECRET }}
          installationId: ${{ secrets.RELEASER_INSTALLATION_ID }}
      - name: Dependabot
        uses: ./.github/actions/dependabot
        with:
          appId: ${{ secrets.RELEASER_APP_ID }}
          privateKey: ${{ secrets.RELEASER_PRIVATE_KEY }}
          clientId: ${{ secrets.RELEASER_CLIENT_ID }}
          clientSecret: ${{ secrets.RELEASER_CLIENT_SECRET }}
          installationId: ${{ secrets.RELEASER_INSTALLATION_ID }}
      - name: CodeQL
        uses: ./.github/actions/codeql
      - uses: ./.github/actions/build
      - uses: ./.github/actions/publish
        env:
          RELEASER_APP_ID: ${{ secrets.RELEASER_APP_ID }}
          RELEASER_PRIVATE_KEY: ${{ secrets.RELEASER_PRIVATE_KEY }}
          RELEASER_CLIENT_ID: ${{ secrets.RELEASER_CLIENT_ID }}
          RELEASER_CLIENT_SECRET: ${{ secrets.RELEASER_CLIENT_SECRET }}
          RELEASER_INSTALLATION_ID: ${{ secrets.RELEASER_INSTALLATION_ID }}
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          DEBUG: "*"
