name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize, reopened]
jobs:
  CI:
    runs-on: ubuntu-latest
    name: CI
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/lint
      - name: Unit tests
        run: npm test
      - uses: ./.github/actions/build
      - name: CD type checks
        run: tsc -p tsconfig.sancheck.json
